:host {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 40px;
}
.ampliato-footer {
  height: 100%;
  //background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-height: 30px;
  }
  //p{
  //  font-size: 0.8rem;
  //  margin: 0;
  //  opacity: 1;
  //  a {
  //    text-decoration: none;
  //    i {
  //      width: 15px;
  //      height: 15px;
  //    }
  //  }
  //}
}

@media (max-width: 800px) {
  .ampliato-footer{
    background-color: #f8f8f8;
  }
}
